<nav class="nav">
  <div class="nav-container">

    <button class="btn-switch" (click)="switchView()">
      <ng-container *ngIf="view_1">
        <div class="icon-switch-2"><div></div><div></div></div>
      </ng-container>
      <ng-container *ngIf="view_2">
        <div class="icon-switch-4"><div></div><div></div><div></div><div></div></div>
      </ng-container>
      <ng-container *ngIf="view_4">
        <div class="icon-switch-6"><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </ng-container>
      <ng-container *ngIf="view_6">
        <div class="icon-switch-1"><div></div></div>
      </ng-container>
    </button>
  </div>
</nav>

